h1 {
    font-size: 1em;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    float: left;
}

.inside-values {
    text-align: center;
}

#wrapper {
    width: 1010px;
    margin: 5em auto auto;
}


label {
    display: -webkit-box;
    width: 222px;
    padding-bottom: 1em;
}

#container {
    margin-top: 6em;
}

input {
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-left: 1em;
}

input::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
}

input::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}
